@import '../../Main/mixins';
@import '../../Main/variables';

//TODO: Still need media queries for mobile. 

div.project {
    min-height: 45vh;
    width: 80%;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    margin: 40px 0px;
    -webkit-box-shadow: 0px 10px 16px -11px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 16px -11px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 16px -11px rgba(0,0,0,0.2);
    @media all and (max-width: 575px) { 
        flex-direction: column;
    }

    @media all and (min-device-width : 768px) 
        and (max-device-width : 1024px) {
        flex-direction: column;
    }

    .tab {
        width: 250px;
        height: 75px;
        background: $accent-grey;
        border-bottom-right-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        @include center;
        @media all and (max-width: 575px) { 
            width: 100%;
            height: 100px;
            border-bottom-right-radius: 0px;
        }
    }
    .button-container {
        position: absolute;
        top: 0;
        left: 250px;
        width: 250px;
        height: 75px;
        padding-left: 25px;
        @include center;
        
        button {
            width: 100px;
            padding: 5px 0px;
            background: black;
            color: white;
            margin: 0px 10px;
        }
        button:hover {
            background: #2d2d2d;
            transition: background 100ms ease-in-out;
        }
        @media all and (max-width: 575px) { 
            position: relative;
            top: 60px;
            left: 0px;
            width: 100%;
            padding-left: 0;
        }
    }

    .text-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 100px;
        margin-bottom: 25px;

        p {
            font-size: 1.2em;
            margin-bottom: 3%;
            line-height: 170%;
        }

        li {
            list-style-type: circle;
            line-height: 150%;
            font-size: 1.1em;
            margin-left: 20px;
        }
        @media all and (max-width: 575px) { 
            width: 90%;
            margin: 5% 0%;  
            margin-top: 75px;      
        }
    }
    .laptop-view {
        position: relative;
        @include center;
        
        .laptop {
            position: absolute;
            top: 45px;
            left: 71px;
            width: 310px;
            height: 200px;
        }
        .mobile {
            position: absolute;
            left: 166px;
            width: 110px;
            height: 210px;
        }
    }
    
    
}

