@import '../../Main/mixins';
@import '../../Main/variables';

div.project {
    height: 45vh;
    width: 80%;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    margin: 40px 0px;

    .tab {
        width: 250px;
        height: 75px;
        background: $accent-grey;
        border-bottom-right-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        @include center;
    }
    .text-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 75px;

        p {
            font-size: 1.2em;
            margin-bottom: 3%;
            line-height: 170%;
        }

        li {
            list-style-type: circle;
            line-height: 150%;
            font-size: 1.1em;
            margin-left: 20px;
        }
    }
    .laptop-view {
        position: relative;
        @include center;
        
        .laptop {
            position: absolute;
            top: 45px;
            left: 71px;
            width: 310px;
            height: 200px;
        }
        .mobile {
            position: absolute;
            left: 166px;
            width: 110px;
            height: 210px;
        }
    }
    
    
}

