@import '../../Main/mixins';
@import '../../Main/variables';

section.projects-section {
    height: fit-content;
    padding: 3% 0%;
    background: $accent-grey;
    background-image: url('../../assets/topo.png');
    background-blend-mode: soft-light;
    @include center-col;
}