@import "../../Main/mixins";
@import "../../Main/variables";

section.skills-section {
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0px;
  @media all and (max-width: 575px) {
    height: fit-content;
    padding: 10px 0px;
  }

  @media all and (min-device-width: 768px) and (max-device-width: 1024px) {
    height: fit-content;
    padding: 5% 0%;
  }

  .skill {
    width: 50px;
    min-width: 50px;
    height: 50%;
    @include center-col;
    justify-content: flex-end;

    @media all and (max-width: 575px) {
      width: 50%;
      min-width: 50%;
      box-sizing: border-box;
      margin: 10% 0%;
      font-size: 1.2em;
      img {
        width: 50%;
      }
    }
    p {
      margin-top: 10px;
    }
  }

  img {
    width: 100%;
  }

  .large-icon {
    width: 50px;
    @media all and (max-width: 575px) {
      width: 10%;
    }
  }

  .larger-icon {
    @extend .large-icon;
    width: 70px;
    img {
      position: relative;
      top: 10px;
    }
    @media all and (min-device-width: 768px) and (max-device-width: 1024px) {
      position: relative;
      top: -10px;
    }
  }
}
