@import '../../Main/mixins';
@import '../../Main/variables';

section.skills-section {
    height: 30vh;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    @media all and (max-width: 575px) { 
        height: fit-content;
    }
    
    .skill {
        width: 50px;
        min-width: 50px;
        height: 50%;
        @include center-col;
        justify-content: flex-end;
        
        @media all and (max-width: 575px) { 
            width: 50%;
            min-width: 50%;
            box-sizing: border-box;
            margin: 10% 0%;
            font-size: 1.2em;
            img {
                width: 50%;
            }
        }
        p {
            margin-top: 10px;
        }
    }

    img {
        width: 100%;
    }

    .large-icon {
        width: 60px;
        @media all and (max-width: 575px) { 
            width: 10%;
        }
    }
}