@import '../../Main/variables';
@import '../../Main/mixins';


section.about-section {
    background: $accent-grey;
    height: fit-content;
    @include center-col;
    padding: 5% 25%;
    opacity: 0;
    animation: fadeIn 200ms $custom-ease;
    animation-delay: 500ms;
    animation-fill-mode: forwards;

    @media all and (max-width: 575px) { 
        padding: 10% 10%;
    }

    .profile-picture {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-bottom: 25px;
    }

    p {
        font-size: 1.2em;
        line-height: 200%;
        text-align: center;
        @media all and (max-width: 575px) { 
            text-align: left;
        }
    }
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}