@import '../../Main//variables';
@import '../../Main/mixins';

section.contact-container {
    width: 100%;
    height: 80vh;
    @include center;
    @include fade-in;
    background: $accent-color;
    position: relative;
    form {
        width: 50%;
        height: 100%;
        position: relative;
        @include center-col;
        
        overflow-x: auto;
       
            input {
                width: 50%;
                margin: 10px 0px;
            }
        
            textarea {
                width: 50%;
                height: 10vh;
                resize: none;
            }

            button {
                width: 25%;
            }  
    }

    .contact-text {
        width: 50%;
        height: 100%;
        position: relative;
        left: -40%;
        @include center-col;
        background: $accent-grey;
        animation: slide-in 200ms $custom-ease;
        animation-delay: 200ms;
        animation-fill-mode: forwards;

        .contact-h2-text {
            height: 50%;
            max-height: 50%;
            padding: 0% 10%;
            
            @include center-col;

            .hours-box {
                width: fit-content;
                border: 2px solid black;
                padding: 3%;
                margin: 3% 0%;
                font-size: 1.3em;
                letter-spacing: 5px;
                text-transform: uppercase;
                white-space:nowrap;
            }

            h2 {
                line-height: 150%;
            }
            h4 {
                margin: 5% 0%;
            }
        }
    }
}

@keyframes slide-in {
    from {left: -40%;}
    to {left: 0%;}
}