@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-col {
    @include center;
    flex-direction: column;
}

@mixin left-spread {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

@mixin bold {
    font-weight: 700;
}

@mixin open {
    @keyframes open {
        from { transform: scaleY(0); visibility: hidden; height: 0vh; opacity: 0; padding: 0vh 0vh;}
        to{ transform: scaleY(1); visibility: visible; height: 20vh; opacity: 1; padding: 1vh 0vh;}
    }
}

@mixin line-open {
    @keyframes line-open {
        from { transform: scaleX(0);}
        to { transform: scaleX(1); }
    }
}