@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import './variables';

body {
    font-family: 'PT Sans', sans-serif;
}

li {
    list-style-type: none;
    cursor: pointer;
}

p {
    line-height: 150%;
}