@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import './variables';
@import './mixins';

@font-face {
    font-family: 'Europa Bold';
    src: local('Europa Bold'), url('../fonts/europa-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Europa';
    src: local('Europa'), url('../fonts/europa-regular.ttf') format('truetype');
}

body {
    font-family: 'Europa', sans-serif;
}

li {
    list-style-type: none;
    cursor: pointer;
}

p {
    line-height: 150%;
}

i {
    margin-right: 3px;
}

h1 {
    font-size: 3em;
    font-family: 'Europa-Bold';
}

h2 {
    @extend h1;
    font-size: 2em;
}

h4 {
    font-size: 1.3em;
    line-height: 150%;
}

input {
    background: $accent-grey;
    padding: 1%;
    font-family: 'Europa';
    font-size: 1.2em;
    border: none;
    margin: 5px;
}

input::placeholder {
    opacity: 0.5;
}

textarea {
    @extend input;
    height: 125px;
}

button {
    padding: 1%;
    font-family: 'Europa Bold';
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    margin: 10px 0px;
}

button:hover {
    background-color: $accent-grey;
}

.line {
    width: 100%;
    height: 2px;
    background: $accent-color;
    margin: 2% 0%;
    transform: scaleX(0);
    @include line-open;
    animation: line-open 200ms $custom-ease;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

.hours-box {
    width: fit-content;
    border: 2px solid black;
    padding: 2%;
    margin: 3% 0%;
    letter-spacing: 5px;
    text-transform: uppercase;
    white-space:nowrap;
}