@import '../../Main/variables';
@import '../../Main/mixins';

nav {
    //Pre-Animation: Not Visible
    opacity: 0;
    height: 0;
    //Pre-Animation: Not Visible
    @include open;
    animation: open 250ms $custom-ease;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
    display: grid;
    grid-template-columns: 25% 50% 25%;

    .panel-one {
        grid-column: 1;
        @include center;

        img {
            width: 80%;
        }
    }

    .panel-two {
        grid-column: 2;
        @include center;
        padding: 0% 10%;

        p {
            padding-bottom: 15px;
            border-bottom: 1px solid $accent-color;
        }
    }

    .panel-three {
        grid-column: 3;
        @include center;
        justify-content: flex-start;
        padding-left: 20%;

        ul {
           height: 100%;
           @include left-spread;
           font-size: 0.8em;
        }
    }
}

