@import '../../Main/variables';
@import '../../Main/mixins';

nav.main-nav {
    //Pre-Animation: Not Visible
    opacity: 0;
    height: 0;
    //Pre-Animation: Not Visible
    @include open;
    animation: open 250ms $custom-ease;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    display: grid;
    width: 100%;
    position: relative;
    z-index: 2;
    grid-template-columns: 25% 50% 25%;
    
    @media all and (max-width: 575px) { 
        grid-template-columns: 80% 20%;
    }

    .panel-one {
        grid-column: 1;
        display: grid;
        align-items: center;

        img {
            width: 50%;  
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
        @media all and (max-width: 575px) { 
            margin-right: 10%;
        }
    }

    .panel-two {
        grid-column: 2;
        @include center-col;
        padding: 0% 10%;
        @media all and (max-width: 575px) { display: none; }
    }

    .panel-three {
        grid-column: 3;
        @include center;
        justify-content: flex-start;
        padding-left: 20%;
        @media all and (max-width: 575px) { display: none; }
        
        ul {
           height: 100%;
           @include left-spread;
           font-size: 0.8em;
           margin: 5% 0%;
           
           li {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 10% 0%;
            
            }

            li:hover {
                border-bottom: 1px solid $accent-color;
            }
        }    
    }

    .side-menu-icon {
        display: none;
        
        @media all and (max-width: 575px) { 
            display: flex;
            position: absolute;
            z-index: 3;
            top: 40%;
            right: 15%;
            font-size: 2em;
            color: #e2e2e2;
        }
    }

    .sidebar-menu-icon {
        width: 80%;
        margin: 10%;
    }

    nav.side-menu {
        width: 100%;
        height: 100vh;
        background: black;
        color: white;
        position: fixed;
        overflow: hidden;
        z-index: 2;
        @include center-col;
        font-size: 2em;
        line-height: 150%;
    }
}

